openai>=1.0.0
requests
Pillow
django
djangorestframework
python-decouple
django-cors-headers==4.3.1
django-filter
djangorestframework-simplejwt
channels
daphne
whitenoise
celery
redis
django-celery-beat
django-celery-results
geopy
reportlab
razorpay
numpy
pandas
scikit-learn
openpyxl
pytest-django==4.8.0
gunicorn
psycopg2-binary==2.9.9
dj-database-url==2.1.0
cloudinary==1.36.0
django-cloudinary-storage==0.3.0
channels-redis
